/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/Navigation/Navigation.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.Navigation_navigationCore__sw9MD {
  height: -moz-min-content;
  height: min-content;
  border-radius: 0.5rem;
  border: 1px solid white;
}

